<h2 mat-dialog-title>{{ title }}</h2>
<mat-divider></mat-divider>

<mat-dialog-content [formGroup]="form">
  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Full name</mat-label>
      <input matInput placeholder="gharbi khouloud" formControlName="name" required>
      <mat-error *ngIf="form.get('name')?.invalid || form.get('name')?.dirty || form.get('name')?.touched">Enter full name</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Mobile number:</mat-label>
      <input matInput placeholder="24015986" formControlName="mobile" required>
      <mat-error *ngIf="form.get('mobile')?.invalid || form.get('mobile')?.dirty || form.get('mobile')?.touched">Enter valid mobile number</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput placeholder="khouloud@gmail.com" formControlName="email" required>
      <mat-error *ngIf="form.get('email')?.invalid || form.get('email')?.dirty || form.get('email')?.touched">Enter valid email address</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Qualification</mat-label>
      <input matInput placeholder="ex. MBBS" formControlName="qualification" required>
      <mat-error *ngIf="form.get('qualification')?.invalid || form.get('qualification')?.dirty || form.get('qualification')?.touched">Enter valid qualification</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Department</mat-label>
      <mat-select formControlName="department">
        <mat-option *ngFor="let department of departments" [value]="department">{{department}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="form-field">
      <mat-label>Birthdate</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('birthdate')?.invalid || form.get('birthdate')?.dirty || form.get('birthdate')?.touched">Choose valid birthdate</mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close (click)="cancelRegistration()">Cancel</button>
  <button mat-raised-button color="primary" mat-dialog-close (click)="registerDoctor()" [disabled]="form.invalid">{{ buttonName }}</button>
</div>
